@import "tailwindcss";

:root {
    --theme-color: #03a9f4;
}
body {
  background: #ebf0fa;
  @apply text-gray-500 m-8;
}
h1 {
  color: var(--theme-color);
  @apply font-bold text-lg;
}
main {
  @apply max-w-5xl my-12 mx-auto px-8;
}
main > h1 {
  @apply mb-4 pb-2 text-base;
}
p > a {
  color: var(--theme-color);
  @apply underline;
}

/* Navbar */
nav {
  @apply
    pb-4
    border-b-2
    border-gray-400
    flex
    items-center
    gap-5
    my-10
    mx-auto
    max-w-5xl;
}
nav a{
  @apply text-gray-500;
}
nav a:hover {
  @apply text-black;
}

/* Form */
form {
  @apply flex gap-2 justify-center mb-4;
}
form input {
  @apply
    border
    rounded
    px-3
    py-2
    w-full;
}

/* Button */
button {
  background: var(--theme-color);
  @apply
    px-3
    py-2
    text-white
    rounded-sm
    flex
    justify-between
    items-center
    gap-2
    text-sm;
}
button:hover {
  @apply opacity-90 cursor-pointer;
}

/* Feedback */
.error {
  @apply
  text-red-500;
}
